body {
	font-family:sans-serif;
}
.left {
	box-sizing: border-box;
	float: left;
	width: 20%;
	border-left-width: thin;
	border-left-style: solid;
	border-bottom-width: thin;
	border-bottom-style: solid;
	/*
	padding-left: 1em; 
	padding-top: 1em;
	padding-bottom: 1em;
		*/
}
.right { 
	box-sizing: border-box;
	width: 80%;
	float: right;
	border-width: thin;
	border-top-style: solid;
	padding-left: 1em;
	padding-bottom: 1em;
}
.team-select {
	padding: 1.5em; 
	box-sizing: border-box;
	border-top-width: thin;
	border-top-style: solid;
	
}

.team-unselect {
	padding: 1.5em; 
	box-sizing: border-box;
	border-width: thin;
	border-style: solid;
	border-left-style: none;
	border-bottom-style: none;
	background-color: #e0e0e0;
}
td {
	padding-left: 2px;
	padding-right: 1em;
	margin: 0px;
	border: 1px solid gray;
}
.submit {
	padding: 1.5em;
	font-size:13pt;
	background-color: #e0e0e0;
}
button, .btn {

	background-color: #e0e0e0;
}
.updown {
	padding: 0.5em;
	font-size: 11pt;
}
table {
	padding: 1em;
	border-collapse: collapse;
}
textarea {
	
	height: 23%;
	box-sizing: border-box;
	border: 1px solid gray;
}
.matchdata {
	white-space: pre;
	overflow: scroll;
}
.team-select-link {
	color: inherit;
	text-decoration: inherit;
}

.input {
	font-size: 16pt;
	padding:5px;
}
.number {
	padding:5px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	    user-select: none; /* Non-prefixed version, currently
				  supported by Chrome and Opera */
	padding-right:2em;
}

.team-field {
	padding: 1em;
	margin-right: .7em;
}

.team-name {
	font-size: 10pt;
	width: 40em;
}

.team-entry {
	margin-top: 1em;
}
