<html>
	<head>
		<title>Velocity Vortex Scouting App</title>
		<link rel="stylesheet" href="/static/main.css">
	</head>
	
	<body>
		<h1>
			Scouting App
			<span style="float:right; font-size: 12pt">
				(<a href="/teamsedit">edit teams</a>)
			</span> 
		</h1>
		<div class="left">
			<a class="team-select-link" href="/teams">
				<div class="team-select">
					All teams
				</div>
			</a>
			{% for teamno, team in teams_data.items() %}
			<a class="team-select-link" href="/teams/{{ teamno }}">
				<div id="team-{{ teamno }}-select" class="team-unselect">
					{{ teamno }} {{ team.name }}
				</div>
			</a>
			{% endfor %}
		</div>

		<div class="right">
			{% if teams_data|length == 0 %}
			<h3>No teams loaded, add teams <a href="/teamsedit">here</a></h3>
			{% endif %}

			{% for number, team in teams_data.items() %}
			<h3>Team {{ number }} {{ team.name }}</h3>
			 <table>
				<tr>
					<td>partner</td>
					<td>close beacon</td>
					<td>far beacon</td>
					<td>cap ball </td>
					<td>auto center</td>
					<td>auto corner</td>
					<td>auto end position</td>
					<td>teleop center</td>
					<td>teleop corner</td>
					<td>beacon rating</td>
					<td>end cap ball</td>
				</tr>
				{% for match in team.matches %}
				<tr>
					<td>{{ match['alliance_partner'] }}</td>
					<td>
						{% if match['auto_close_beacon'] %}
							y
						{% endif %}
					</td>
					<td>
						{% if match['auto_far_beacon'] %}
							y
						{% endif %}
					</td>
					<td>
						{% if match['auto_cap_ball'] %}
							y
						{% endif %}
					</td>
					<td>{{ match['auto_center_particles'] }}</td>
					<td>{{ match['auto_corner_particles'] }}</td>
					<td>{{ match['auto_end'] }}</td>
					<td>{{ match['teleop_center_particles'] }}</td>
					<td>{{ match['teleop_corner_particles'] }}</td>
					<td>{{ match['teleop_beacon'] }}</td>
					<td>{{ match['teleop_cap_ball'] }}</td>
				</tr>
				{% endfor %}
			</table>
			{% endfor %}
		</div>
	</body>

</html>
