<html>
	<head>
		<title>Edit teams</title>
		<link rel="stylesheet" href="/static/main.css">
		<script type="text/javascript">
			function onFormSubmit() {
			}

			function getTeamInfo(pdiv) {
				var children = pdiv.children;
				var teamnumber;
				var teamname;
				for (var i = 0; i < children.length; i++) {
					var c = children[i];
					if (c.type === "number") {
						teamnumber = parseInt(c.value);
					} else if (c.type === "text") {
						teamname = c.value;
					}
				}
				return [teamnumber, teamname];
			}

			function deleteRow(e) {
				// e.target
				var teaminfo = getTeamInfo(e.target.parentElement);
				var root = document.getElementById("teams-div");
				if (teaminfo[0] !== 0) {
					if (!confirm("Warning: Deleting a team will remove its matches from the database.\n\nThis cannot be undone.\n\nContinue?")) {
						return false;
					}
				}

				e.target.parentElement.remove();
				
			}

			function editnumber(nid, value) {
				var d = document.getElementById(nid);
				// freaking javascript
				var dvalue = parseInt(d.value);
				dvalue += value;
				d.value = dvalue;
			}

			function addRow(num, name) {
				var root = document.getElementById("teams-div");
				var pdiv = document.createElement("div");
				var teamno = document.createElement("input");
				var teamname = document.createElement("input");
				var deleteteam = document.createElement("input");
				pdiv.classList.add("team-entry");

				teamno.classList.add("team-field");
				teamno.type = "number";
				teamno.value = num;

				teamname.classList.add("team-field");
				teamname.classList.add("team-name");
				teamname.type = "text";
				teamname.value = name;

				deleteteam.classList.add("team-field");
				deleteteam.classList.add("btn");
				deleteteam.type = "button";
				deleteteam.value = "Delete team";
				deleteteam.onclick = deleteRow;

				pdiv.appendChild(teamno);
				pdiv.appendChild(teamname);
				pdiv.appendChild(deleteteam);

				root.appendChild(pdiv);
			}
			
			function addRows() {
				var n = parseInt(document.getElementById("teams-add-num").value);
				for (var i = 0; i < n; i++) addRow(0, "");
			}
			
			function submitTeams() {
				var enteredTeams = document.getElementsByClassName("team-entry");
				var payload = {}
				for (var i = 0; i < enteredTeams.length; i++) {
					var teamInfo = getTeamInfo(enteredTeams[i]);
					if (teamInfo[0] !== 0) {
						payload[teamInfo[0]] = teamInfo[1];
					}
				}
				document.getElementById("data-field").value = JSON.stringify(payload);
				document.getElementById("data-form").submit();
			}
		</script>
	</head>
	
	<body>
		<h1>Scouting App - edit teams <span style="float:right; font-size:12pt;">(<a href="/">return to homepage</a>)</span></h1>
		<div style="margin-bottom:1em;">
			Import teams from file
			<input type="file" id="teamfile"/>
		</div>
		
		<h3>Team number / team name</h3>
		<div id="teams-div" style="display:inline-block">
			{% for teamno, team in teams_data.items() %}
			<div class="team-entry">
				<input class="team-field" type="number" value="{{ teamno }}"/>
				<input class="team-field team-name" type="text" value="{{ team.name }}"/>
				<input class="team-field btn" type="button" value="Delete team" onclick="deleteRow(event);"/>
			</div>
			{% endfor %}
		</div>

		<div style="margin-top: 2em">
			Add <input id="teams-add-num" style="width: 5em; padding: 1em;" type="number" value=1 /> teams
			<input class="team-field" type="button" value="+" onclick="addRows();"/>
		</div>

		<div style="margin-top: 2.5em">
			<input class="submit" type="submit" value="Update teams" onclick="submitTeams();"/>
		</div>

		<form id="data-form" action="/teamsedit/update" method="POST">
			<input id="data-field" type="hidden" name="data" value="{}"/>	
		</form>
	</body>

</html>
