<html>
	<head>
		<title>Submit match performance</title>
		<link rel="stylesheet" href="/static/main.css">
		<script type="text/javascript">
			function onFormSubmit() {
				document.getElementById("notes-content").value = document.getElementById("notes-textarea").value;
				document.getElementById("main-form").submit();
			}

			function toggle(e) {
				var elems = e.target.children;
				for (var i = 0; i < elems.length; i++) {
					elems[i].checked = !elems[i].checked;
				}
			}
			
			function selectRadio(e) {
				var elems = e.target.children;
				for (var i = 0; i < elems.length; i++) {
					elems[i].checked = true;
				}
			}
			function editnumber(nid, value) {
				var d = document.getElementById(nid);
				// freaking javascript
				var dvalue = parseInt(d.value);
				dvalue += value;
				d.value = dvalue;
			}
		</script>
	</head>
	
	<body>
		<h1>Scouting App - submit match data for team {{ number }}</h1>
		<form id="main-form" action="update" method="post">
			<!--Alliance partner: <input class="number" name="alliance_partner" type="number" value="0"/>-->
			Alliance partner:

			<select class="number" name="alliance_partner">
				<option value="0">No alliance partner</option>
				{% for teamno, team in teams_data.items() %}
				<option value="{{ teamno }}">{{ teamno }} {{ team.name }}</option>
				{% endfor %}
			</select>
			<div><h3>Autonomous:</h3></div>
			<div class="input">
				<span class="noselect" onclick="toggle(event);">
					<input class="checkbox" name="auto_close_beacon" type="checkbox"/>
					Close beacon
				</span>
			</div>
			<div class="input">
				<span class="noselect" onclick="toggle(event);">
					<input class="checkbox" name="auto_far_beacon" type="checkbox"/>
					Far beacon
				</span>
			</div>

			<div class="input">
				<span class="noselect" onclick="toggle(event);">
					<input class="checkbox" name="auto_cap_ball" type="checkbox"/>
					Cap ball
				</span>
			</div>

			<div class="input">
				Center particles: 
				<input class="number" id="acep" name="auto_center_particles" type="number" value="0"/>
				<button type="button" class="updown" onclick="editnumber('acep', 1)">Increase</button>
				<button type="button" class="updown" onclick="editnumber('acep', -1)">Decrease</button>
			</div>

			<div class="input">
				Corner particles: 
				<input class="number" id="acop" name="auto_corner_particles" type="number" value="0"/>
				<button type="button" class="updown" onclick="editnumber('acop', 1)">Increase</button>
				<button type="button" class="updown" onclick="editnumber('acop', -1)">Decrease</button>
			</div>
			<div class="input">End position: 
				<span class="noselect" onclick="selectRadio(event);">
					<input class="radio" name="auto_end" type="radio" value="none" checked>None</input>
				</span>
				<span class="noselect" onclick="selectRadio(event);">
					<input class="radio" name="auto_end" type="radio" value="corner">Parked corner</input>
				</span>
				<span class="noselect" onclick="selectRadio(event);">
					<input class="radio" name="auto_end" type="radio" value="center">Parked center</input>
				</span>
			</div>
			<div><h3>Teleop:</h3></div>
			<div class="input">
				Center particles: 
				<input class="number" id="tcep" name="teleop_center_particles" type="number" value="0"/>
				<button type="button" class="updown" onclick="editnumber('tcep', 1)">Increase</button>
				<button type="button" class="updown" onclick="editnumber('tcep', -1)">Decrease</button>
			</div>
			<div class="input">
				Corner particles: 
				<input class="number" id="tcop" name="teleop_corner_particles" type="number" value="0"/>
				<button type="button" class="updown" onclick="editnumber('tcop', 1)">Increase</button>
				<button type="button" class="updown" onclick="editnumber('tcop', -1)">Decrease</button>
			</div>

			<div class="input">Beacon rating:
				<span class="noselect" onclick="selectRadio(event);">
					<input class="radio" name="teleop_beacon" type="radio" value="0" checked>0</input>
				</span>
				<span class="noselect" onclick="selectRadio(event);">
					<input class="radio" name="teleop_beacon" type="radio" value="1">1</input>
				</span>
				<span class="noselect" onclick="selectRadio(event);">
					<input class="radio" name="teleop_beacon" type="radio" value="2">2</input>
				</span>
				<span class="noselect" onclick="selectRadio(event);">
					<input class="radio" name="teleop_beacon" type="radio" value="3">3</input>
				</span>
				<span class="noselect" onclick="selectRadio(event);">
					<input class="radio" name="teleop_beacon" type="radio" value="4">4</input>
				</span>
				<span class="noselect" onclick="selectRadio(event);">
					<input class="radio" name="teleop_beacon" type="radio" value="5">5</input>
				</span>
			</div>
			<div class="input">Cap ball:
				<span class="noselect" onclick="selectRadio(event);">
					<input class="radio" name="teleop_cap_ball" type="radio" value="na" checked>No attempt</input>
				</span>
				<span class="noselect" onclick="selectRadio(event);">
					<input class="radio" name="teleop_cap_ball" type="radio" value="tried">Couldn't hold</input>
				</span>
				<span class="noselect" onclick="selectRadio(event);">
					<input class="radio" name="teleop_cap_ball" type="radio" value="dropped">Dropped</input>
				</span>
				<span class="noselect" onclick="selectRadio(event);">
					<input class="radio" name="teleop_cap_ball" type="radio" value="pickup">Picked up</input>
				</span>
				<span class="noselect" onclick="selectRadio(event);">
					<input class="radio" name="teleop_cap_ball" type="radio" value="raised">Raised</input>
				</span>
				<span class="noselect" onclick="selectRadio(event);">
					<input class="radio" name="teleop_cap_ball" type="radio" value="capped">Capped</input>
				</span>
			</div>
			<h3>Notes:</h3>
			<textarea id="notes-textarea" style="width: 30%">{{ notes_textarea }}</textarea>
			<input type="hidden" id="notes-content" name="notes_content"/>
			<div style="padding-top:1em;">
				<input type="button" class="submit" onclick="onFormSubmit();" value="Submit data"/>
			</div>
		</form>
	</body>

</html>
