<html>
	<head>
		<title>Velocity Vortex Scouting App</title>
		<link rel="stylesheet" href="/static/main.css"/>
		<script type="text/javascript">
			function post_notes() {
				document.getElementById("notes_content").value = document.getElementById("notes-textarea").value;
				document.getElementById("notes_form").submit();
			}

			function delete_match(match_number) {
				if (!confirm("Are you sure you want to delete match " + (match_number + 1) + "?")) {
					return false;
				}
				document.getElementById("delete_match_number").value = match_number;
				document.getElementById("delete_form").submit();
			}
		</script>
	</head>
	
	<body>
		<h1>
			Scouting App
			<span style="float:right; font-size: 12pt">
				(<a href="/teamsedit">edit teams</a>)
			</span> 
		</h1>
		<div class="left">
			<a class="team-select-link" href="/teams">
				<div class="team-unselect">
					All teams
				</div>
			</a>
			{% for teamno, team in teams_data.items() %}
			<a class="team-select-link" href="/teams/{{ teamno }}">
				{% if teamno == number %}
				<div class="team-select">
				{% else %}
				<div class="team-unselect">
				{% endif %}
					{{ teamno }} {{ team.name }}
				</div>
			</a>
			{% endfor %}
		</div>

		<div class="right">
			<h3>Robot performance for team {{ number }} "{{ teamname }}"</h3>
			 <table>
				<tr> <td>partner</td>
					<td>close beacon</td>
					<td>far beacon</td>
					<td>cap ball </td>
					<td>auto center</td>
					<td>auto corner</td>
					<td>auto end position</td>
					<td>teleop center</td>
					<td>teleop corner</td>
					<td>beacon rating</td>
					<td>end cap ball</td>
				</tr>
				{% for match in matches %}
				<tr>
					<td>{{ match['alliance_partner'] }}</td>
					<td>
						{% if match['auto_close_beacon'] %}
							y
						{% endif %}
					</td>
					<td>
						{% if match['auto_far_beacon'] %}
							y
						{% endif %}
					</td>
					<td>
						{% if match['auto_cap_ball'] %}
							y
						{% endif %}
					</td>
					<td>{{ match['auto_center_particles'] }}</td>
					<td>{{ match['auto_corner_particles'] }}</td>
					<td>{{ match['auto_end'] }}</td>
					<td>{{ match['teleop_center_particles'] }}</td>
					<td>{{ match['teleop_corner_particles'] }}</td>
					<td>{{ match['teleop_beacon'] }}</td>
					<td>{{ match['teleop_cap_ball'] }}</td>
					<td><button style="margin:5px;" onclick="delete_match({{ loop.index0 }});">Delete match</button></td>
				</tr>
				{% endfor %}
			</table>
			<div style="float:left; width: 40%">
				<h3>Notes:</h3>
				<textarea id="notes-textarea" style="width: 100%" >{{ notes_textarea }}</textarea>
				<div style="padding-top:1em;">
					<form action="/teams/{{ number }}/match">
						<button class="submit">Add new match</button>
						<button onclick="post_notes();" type="button" class="submit" style="float:right;">Update notes data</button>
					</form>
				</div>
			</div>
			<div style="float:right; margin-left: 1em; margin-right: 1em; width: 55%">
				<h3>Match data:</h3>
				<textarea readonly style="white-space: pre; overflow:scroll; resize:vertical; width: 100%; height: 71%;">{{ match_data }}</textarea>
			</div>

			<form id="notes_form" method="POST" action="/teams/{{ number }}/update_notes">
				<input type="hidden" name="notes_content" id="notes_content"/>
			</form>
			
			<form id="delete_form" method="POST" action="/teams/{{ number }}/delete_match">
				<input type="hidden" name="match_number" id="delete_match_number"/>
			</form>
		</div>
	</body>

</html>
